

.section1{
   text-align: left;
   display: flex;
   padding: 50px;
   padding-left: 50px;
   padding-right: 50px;
   background-color: aqua;
   margin: 10px;
   margin-left: 100px;
   margin-right: 420px;
   border-color: rgb(0, 0, 0);
   border:2px;
   border-style: solid;
   justify-content: center;
   display:absolute;
   min-width: 800px;
    max-width: 1200px;
}
.section1-text{
    padding: 5px 10px; 

    border-color: black;
    border:1px;
    border-style: solid;
    background-color: aquamarine;
}
.button-text{
    text-decoration: none;
    list-style-type: none;
    color: rgb(0, 0, 0);
}
.section-desc{
    padding-right: 10%;
}
.section1-img{
    width: 100%;
    max-width: 400px;
    padding-left: 100px;
    
}
